---
interface Props {
    backgroundColor?: string;
}

let {backgroundColor} = Astro.props as Props;
if (!backgroundColor) {
    backgroundColor = "#f9f9f9"; // Default color
}
---

<div class="floating-container" style={`background-color: ${backgroundColor};`}>
    <slot />
</div>

<style>
    .floating-container {
        background-color: #f9f9f9;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
</style>