---
import { Icon } from "astro-icon/components";

// Získáme informace o přihlášeném uživateli
const user = await Astro.session?.get("user");
const isLoggedIn = user !== undefined;
const isAdmin = user?.administrator;
const isOrganizator = user?.organizator;
---

<header>
    <div class="header-container">
        <a href="/" class="logo"><b>OpenVoting</b></a>
        <nav>
            {isLoggedIn ? (
                    <a class="btn user-profile" href="/poll/mine">
                        {isAdmin ? (
                                <Icon name="iconoir:user-crown" size={20}/>
                        ): isOrganizator ? (
                                <Icon name="iconoir:user-star" size={20}/>
                        ) : (
                                <Icon name="iconoir:user" size={20}/>
                        )}
                        {user.name}
                    </a>

                    <>
                        {isAdmin && (
                                <a class="btn btn-admin" href="/admin">
                                    <Icon name="iconoir:puzzle" size={20}/>
                                    Admin
                                </a>
                        )}
                    </>

                    <a class="btn btn-logout" href="/logout">
                        <Icon name="iconoir:sandals" />
                        Odhlásit se
                    </a>
            ): <a href="/login" class="btn btn-login">
                <Icon name="iconoir:linux" size={20}/>
                Přihlásit se
            </a>}
        </nav>
    </div>
</header>

<style>
    header {
        background-color: #ffffff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 0.8rem 1rem;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    [data-icon] {
        vertical-align: middle;
        margin-top: -5px;
    }

    .header-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.5rem;
        text-decoration: none;
        color: #333;
        transition: color 0.2s;
    }

    .logo:hover {
        color: #4CAF50;
    }

    nav {
        display: flex;
        align-items: center;
    }

    .user-controls {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .username {
        font-weight: 500;
        margin-right: 0.5rem;
    }

    .btn {
        text-decoration: none;
        margin-left: 0.5rem;
        text-wrap: nowrap;
    }

    .user-profile {
        background-color: #4CAF50;
        color: white;
    }

    .btn-login {
        background-color: #4CAF50;
        color: white;
    }

    .btn-login:hover {
        background-color: #3e8e41;
    }

    .btn-logout {
        background-color: #f44336;
        color: white;
    }

    .btn-logout:hover {
        background-color: #d32f2f;
    }

    .btn-create {
        background-color: #2196F3;
        color: white;
    }

    .btn-create:hover {
        background-color: #0b7dda;
    }

    .btn-admin {
        background-color: #673AB7;
        color: white;
    }

    .btn-admin:hover {
        background-color: #5e35b1;
    }

    @media (max-width: 768px) {
        .user-controls {
            flex-direction: column;
            align-items: flex-end;
            gap: 0.5rem;
        }
    }

    @media (max-width: 640px) {
        .header-container {
            flex-direction: column;
            gap: 0.5rem;
        }

        .user-controls {
            align-items: center;
        }
    }
</style>